# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore data and experiments
data/
adv_dataset_old/
experiments/

# Personal test code
tests/model/
mytest/
test.sh
test.py
test2.py
result/
